<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
		 backupGlobals="false"
		 colors="true"
		 verbose="true"
		 bootstrap="tests/bootstrap.php"
		 failOnRisky="true"
		 failOnWarning="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnFailure="false"
		 executionOrder="random"
		 resolveDependencies="true"
>
	<testsuites>
		<testsuite name="Devly WP Query tests">
			<directory>./tests/unit</directory>
		</testsuite>

		<testsuite name="Devly WP Query integration tests">
			<directory>./tests/integration</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory>src</directory>
		</include>
	</coverage>

	<logging>
		<junit outputFile="build/report.junit.xml"/>
		<testdoxHtml outputFile="build/coverage"/>
		<testdoxText outputFile="build/coverage.txt"/>
		<testdoxXml outputFile="build/logs/clover.xml"/>
	</logging>
</phpunit>
